# Ignore all JSON files:
*.json
.vscode/

# But keep tracking certain JSON files that are needed:
# !important-config.json

# Ignore cmake files
*.cmake
*.make
Makefile
CMake*

# Ignore Cache
CACHE*

# Ignore .pyc files
*.pyc

# Ignore testing log files
*Testing/Temporary/*
Testing/
